body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dbb5ff;
}

.slot-machine {
    background-color: #fff;
    width: 40vw;
    height: 70vh;
    padding: 100px;
    border: 3px solid #00ff4c;
    border-radius: 250px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.849);
}

#slots {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

#slots div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slots span {
    font-size: 100px;
    margin-bottom: 10px;
}

button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 50px;
    cursor: pointer;
}

.lockButton {
    background-color: #2acc68;
    border: none;
    color: rgb(7, 0, 0);
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(255, 0, 255, 0.849);
}

.lockButton.locked {
    background-color: #ff453f;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 100px;
    border-radius: 250px;
    text-align: left;
    border: 4px solid #00fff24d;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.hidden {
    display: none;
}

ul {
    font-size: 45px;
}

label {
    font-size: 40px;
}

h3 {
    color: gold;
    font-size: 45px;
    text-align: center;
    margin: 10px;
}

select {
    width: 60px;
    height: 50px;
    font-size: 25px;
}

result.textContent {
    font-size: 45px;
    color: gold;
}